/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol,
menu {
    /* list-style: none; */
    
}

/* general */

.container {
    max-width: 900px;
    margin: 0 auto;
}

section {
    padding: 50px 20px;
}

li {
    display: flex;
    justify-content: space-between;
}

.done :first-child {
    text-decoration: line-through;
}
